{% extends "base.html" %}
{% load static %}
{% block nav %}{% endblock %}


{% block title %}
<h1>This is the register page!</h1>
{% endblock %}

{% block home %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div class="register-container">
    <h2>Register</h2>
    <form method="post" class="register-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" name="username" id="id_username" required>
            <span class="icon">🧑‍💻</span>
        </div>

        <div class="form-group">
            <label for="id_password1">Password</label>
            <input type="password" name="password1" id="id_password1" required>
            <span class="icon">🔒</span>
        </div>
        <div class="form-group">
            <label for="id_password2">Confirm Password</label>
            <input type="password" name="password2" id="id_password2" required>
            <span class="icon">🔒</span>
        </div>
        <button type="submit" class="register-btn">Register</button>
    </form>
    <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    <div class="flame-icon">🔥</div>
</div>
{% endblock %}